@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to right, #050014, #0a0020, #10002b, #150037, #1b0042, #20004d, #260059, #2b0064);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    font-family: 'Inter', sans-serif;
}


.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh; 
}


@font-face {
    font-family: 'TamaConnectType';
    src: url('../assets/fonts/tamaconnecttype.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'TamaConnectType', sans-serif;
    color: #ffffff;
    font-size: 2.5rem; 
    text-align: center; 
    margin: 20px 0; 
}

h2 {
    font-family: 'TamaConnectType', sans-serif;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #fff; 
}

h3 {
    font-family: 'TamaConnectType', sans-serif;
    font-size: 1em;
    color: #fff; 
}

a {
    text-decoration: none;
    color: inherit;
}

p { 
    color: #a3a3a3;
}

button {
    text-transform: none;
    font-weight: bold;
    cursor: pointer;
}

.MuiButtonBase-root {
    border-radius: 20px;
}

.MuiButton-containedPrimary {
    background-color: #000 !important;
    color: #fff !important;
}

.MuiButton-containedPrimary:hover {
    background-color: #333 !important;
}

.gradient-button {
    background: linear-gradient(90deg, #6a11cb, #2575fc); 
    background-size: 200% 200%; 
    border: none;
    border-radius: 25px; 
    padding: 10px 20px;
    color: #fff; 
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-position 0.5s ease;
    text-decoration: none;
    box-shadow: none; 
    display: inline-block;
    margin-top: 20px; 
}

.gradient-button:hover {
    background-position: 100% 0; 
}

.gradient-button:focus {
    outline: none;
}

