.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative; 
  font-family: 'TamaConnectType', sans-serif;
}

.navbar::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; 
  background: linear-gradient(90deg, #6a11cb, #2575fc, rgba(255, 255, 255, 0.5), #2575fc, #6a11cb);
  background-size: 200% 100%; 
  animation: lightwave 8s infinite; 
}

@keyframes lightwave {
  0% {
      background-position: 200% 0; 
  }
  50% {
      background-position: 0 0; 
  }
  100% {
      background-position: -200% 0;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
  margin-right: 20px;
}

.navContainer {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  flex-grow: 1; 
}

.navLinks {
  display: flex;
  gap: 40px;
  margin-right: 60px; 
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.connectButton button {
  background-color: #ffffff;
  color: #000000; 
  border: none; 
  border-radius: 20px;
  padding: 10px 20px; 
  font-size: 16px;
  cursor: pointer;
  text-transform: none; 
}

.connectButton button:hover {
  background-color: #f0f0f0; 
}
